.all-section {
  background-color: var(--main-bg-color);
}

.button-section {
  height: 5vh;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.button-section button {
  border: 1px solid var(--main-text-color);
  color: var(--main-text-color);
  border-radius: 1rem;
  margin: 0 1rem;
}

@media screen and (min-width: 768px) {
  .desktop-position-all {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .range {
    width: 20vw;
  }
}
