.cover-img {
  width: 100%;
}

.cover-image-container {
  background-image: url("../img/beerImg/bottle-caps.jpg");
  background-size: cover;
  height: 44vh;
  overflow: hidden;
}

.choice-button {
  display: flex;
}

.choice-button button {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  border: none;
  width: 100%;
  border-radius: 0%;
}
