.navbar {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  height: 5vh;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--main-bg-color);
}

.navbar ul {
  display: flex;
  gap: 1rem;
}
