.results-page {
  background-color: var(--main-bg-color);
  min-height: 100vh;
}

.results {
  color: var(--main-text-color);
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
